<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tabela do Brasileirão serie A 2018</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style type="text/css">
        .img-logo{
            width: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center; padding: 2%;">Tabela do Brasileirão serie A 2018</h3>
        </div>
    </div>
</div>
<div id="app">
    <div class="col-md-12">
        <div class="row">
            <div style="padding-left:2%;">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" @click="setNovoJogo">Novo Jogo</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <form class="form-inline">
                    <input type="text" class="form-control col-md-1" v-model="novoJogo.casa.gols">
                    {{novoJogo.casa.time ? novoJogo.casa.time.nome: ''}}
                    <img :src="novoJogo.casa.time.escudo ? novoJogo.casa.time.escudo : ''" class="img-logo">
                    <span>X</span>
                    <img :src="novoJogo.fora.time.escudo ? novoJogo.fora.time.escudo : ''" class="img-logo">
                    {{novoJogo.fora.time ? novoJogo.fora.time.nome: ''}}
                    <input type="text" class="form-control col-md-1" v-model="novoJogo.fora.gols">
                    <button type="button" class="btn btn-danger" @click="finalPartida">Fim de jogo</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table  table-bordered">
            <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Pontos</th>
                <th scope="col">GM</th>
                <th scope="col">GS</th>
                <th scope="col">Saldo</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="time in times">
                <th scope="row"><img :src="time.escudo" class="img-logo"> {{time.nome}}</th>
                <td>{{time.pontos}}</td>
                <td>{{time.gm}}</td>
                <td>{{time.gs}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script>
    class Time {
        constructor(nome, escudo) {
            this.nome = nome;
            this.escudo = escudo;
            this.pontos = 0;
            this.gm = 0;
            this.gs = 0;
        }
        fimJogo(timeFora,golsMarcados,golsSofridos){
            if(this.foiEmpate(golsMarcados,golsSofridos)){
                this.empate(golsMarcados,golsSofridos);
                timeFora.empate(golsMarcados,golsSofridos);
                return;
            }
            if(this.foiVitoria(golsMarcados,golsSofridos)){
                this.vitoria(golsMarcados,golsSofridos);
                timeFora.derrota(golsSofridos,golsMarcados);
                return;
            }
            if(this.foiDerrota(golsMarcados,golsSofridos)){
                this.derrota(golsMarcados,golsSofridos);
                timeFora.vitoria(golsSofridos,golsMarcados);
                return;
            }

        }

        foiEmpate(golsMarcados,golsSofridos){
            return golsMarcados === golsSofridos
        }
        foiVitoria(golsMarcados,golsSofridos){
            return golsMarcados > golsSofridos
        }
        foiDerrota(golsMarcados,golsSofridos){
            return golsMarcados < golsSofridos
        }
        empate(golsMarcados,golsSofridos){
            this.atualizarInfo(1,golsMarcados,golsSofridos);
        }
        vitoria(golsMarcados,golsSofridos){
            this.atualizarInfo(3,golsMarcados,golsSofridos);
        }
        derrota(golsMarcados,golsSofridos){
            this.atualizarInfo(0,golsMarcados,golsSofridos);
        }
        atualizarInfo(pontos,golsMarcados,golsSofridos){
            this.pontos += pontos;
            this.gm += golsMarcados;
            this.gs += golsSofridos;
        }
    }

    new Vue({
        el: "#app",
        data: {
            gols: 3,
            times: [
                new Time('Palmeiras', 'assets/palmeiras_60x60.png'),
                new Time('Internacional', 'assets/internacional_60x60.png'),
                new Time('Flamengo', 'assets/flamengo_60x60.png'),
                new Time('Atlético-MG', 'assets/atletico_mg_60x60.png'),
                new Time('Santos', 'assets/santos_60x60.png'),
                new Time('Botafogo', 'assets/botafogo_60x60.png'),
                new Time('Atlético-PR', 'assets/atletico-pr_60x60.png'),
                new Time('Corinthians', 'assets/corinthians_60x60.png'),
                new Time('Grêmio', 'assets/gremio_60x60.png'),
                new Time('Fluminense', 'assets/fluminense_60x60.png'),
                new Time('Bahia', 'assets/bahia_60x60.png'),
                new Time('Chapecoense', 'assets/chapecoense_60x60.png'),
                new Time('São Paulo', 'assets/sao_paulo_60x60.png'),
                new Time('Cruzeiro', 'assets/cruzeiro_60x60.png'),
                new Time('Sport', 'assets/sport_60x60.png'),
                new Time('Ceará', 'assets/ceara_60x60.png'),
                new Time('Vitória', 'assets/vitoria_60x60.png'),
                new Time('Vasco', 'assets/vasco_60x60.png'),
                new Time('América-MG', 'assets/america_mg_60x60.png'),
                new Time('Paraná', 'assets/parana_60x60.png'),
            ],
            novoJogo: {
                casa: {
                    time: '',
                    gols: 0
                },
                fora: {
                    time: '',
                    gols: 0
                }
            }
        },
        methods: {
            showAlert() {
             alert('olá, mundo');
            },
            setValue($event) {
                console.log($event.data)
            },
            setNovoJogo() {
                var indiceCasa = Math.floor(Math.random() * 20),
                    indiceFora = Math.floor(Math.random() * 20);

                this.novoJogo.casa.time = this.times[indiceCasa];
                this.novoJogo.casa.gols = 0;
                this.novoJogo.fora.time = this.times[indiceFora];
                this.novoJogo.fora.gols = 0;
            },
            finalPartida(){
                var golsMarcados = parseInt(this.novoJogo.casa.gols);
                var golsSofridos = parseInt(this.novoJogo.fora.gols);
                var timeCasa = this.novoJogo.casa.time;
                var timeFora = this.novoJogo.fora.time;
                timeCasa.fimJogo(timeFora,golsMarcados,golsSofridos);

            }
        }
    })
</script>
</body>
</html>